---
import Header from "../components/Header.astro";
---

<html lang="en">
<head>
  <title>My Homepage</title>
</head>
<body>
<div class="w-full flex flex-col justify-center bg-gray-800 min-h-screen pt-32 pb-32">
  <Header/>
  <div id="bodyContent">
    Hello world
  </div>
</div>
</body>
</html>