---
import Layout from './layouts/Layout.astro'
import AlbumList from './partials/albumList.astro'
---

<Layout title="Astro Records">
    <section class="py-8">
        <div
                class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
        >
            <h1 class="font-bold text-3xl text-black tracking-tight mb-12">
                Recently Played <span class="sr-only">Albums</span>
            </h1>

            {[1, 2, 3].map((album) => (
                    <a
                            href="#"
                            hx-get={`/partials/albumList?albumId=${album}`}
                            hx-target="#contents"
                            class="block w-10 h-10 flex items-center justify-center border border-gray-200"
                    >{album}</a>
            ))}

            <div id="contents">
                <AlbumList/>
            </div>
        </div>
    </section>
</Layout>