---
import NavButton from "./NavButton.astro";
---

<div class="flex flex-col justify-center bg-green-800 w-screen h-24 top-0 absolute">
  <div>
    <NavButton to="/">
      Home
    </NavButton>
    <NavButton to="/learnikle">
      Learnikle
    </NavButton>
    <NavButton to="/userdata">
      Userdata
    </NavButton>
  </div>
</div>